<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgms.xuefu.mapper.LifeCommissonerMapper">

    <insert id="insert">
        insert ignore into tb_life_commissioner(create_time, update_time, name,building,cnt,year)
        VALUES (#{createTime}, #{updateTime}, #{name},#{building},#{cnt},#{year})
    </insert>
</mapper>